In [3]:
import pandas as pd
import numpy as np
from pycaret.regression import setup, compare_models, evaluate_model, plot_model, get_config

In [6]:
data = pd.read_csv('data.csv', sep=";", usecols=["Feature 1", "Feature 2", "Feature 9", "Y"])
data.head()

       Y  Feature 1  Feature 2  Feature 9
0  13500         23      46986       1165
1  13750         23      72937       1165
2  13950         24      41711       1165
3  14950         26      48000       1165
4  13750         30      38500       1170

In [7]:
s = setup(data, target = 'Y', feature_selection=True)

In [8]:
best = compare_models()

In [5]:
prep_pipe = get_config('prep_pipe') 
prep_pipe.transform(data)

,Feature 4_110,Feature 8_5,Feature 4_116,Feature 7_1600,Feature 4_72,Feature 3_1.0,Feature 5_1,Feature 7_1995,Feature 3_not_available,Feature 7_1800,...,Feature 4_73,Feature 1,Feature 2,Feature 4_69,Feature 7_1900,Feature 4_192,Feature 4_98,Feature 7_1587,Feature 4_107,Feature 7_2000
0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,23.0,46986.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,23.0,72937.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,24.0,41711.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,26.0,48000.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,30.0,38500.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,69.0,20544.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1432,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,72.0,19000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1433,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,71.0,17016.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1434,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,70.0,16916.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1435,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,76.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0